.card {

  border-radius: 10px;
  padding: 50px;
  margin: 10px;
  margin-left: 40%;
  text-align: center;
  display: inline-block;
}
.iroh {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}
.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 26%);
}
.card-text {
  font-family: Arial, sans-serif;
  max-width: 300px;
}
.student {
  font-family: Arial, sans-serif;
  font-size: 1em;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
  max-width: 120px;
}
.student p {
  margin: 0;
}




.nav-list a{
  font-size: 16px;
  text-decoration: none;
  display: inline;
  float: right;
  padding: 10px;
  margin-right: 20px;
  margin-top: -10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: hsl(0, 0%, 50%);
}

.nav-list-full{
  list-style-type: none;
  display: inline-block;
  margin-bottom: 10px;
  padding: 0px;
  overflow: hidden;
  width: 47.89%;
}



.header-dot {
  height: 20px;
  width: 20px;
  background-color: hsl(137, 50%, 50%);
  border-radius: 50%;
  display: inline-block;
  margin-top: 23px;
  margin-right: -7px;
  margin-left: 20px;
}
.header-h1 a {
  text-decoration: none;
  color: hsl(0, 0%, 25%);
  font-size: 24px;
}
.header-p {
  font-size: 16px;
  padding-top: 12px;
  color: hsl(0, 0%, 50%);
}
.header-list {
  list-style-type: none;
  padding: none;
  overflow: hidden;
  margin-top: -10px;
  width: 50%;
  float: left;
}
.header-list-item {
  display: inline-block;
  text-align: left;
  padding-right: 50px;
  margin-left: -30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}